* {
  padding: 0;
  margin: 0;
}
:root {
  --bg-color: rgb(17, 126, 44);
  --txt-color: rgb(255, 255, 255);
  --txt1-color: rgb(252, 125, 7);
}
.container {
  background: #fff;
  display: grid;
  width: 100%;
  height: auto;
  grid-template-areas:
    "side_bar nav_bar nav_bar nav_bar"
    "side_bar slide_bar slide_bar slide_bar"
    "side_bar barger_pic1 barger_pic2 barger_pic3"
    "footer footer footer footer";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.6fr 1.2fr;
  grid-gap: 5px;
}
.nav_bar {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-areas: "nv1 nv2";
  grid-template-columns: 1fr 1fr;
  justify-content: space-arounds;
}
a {
  text-decoration: none;
}
h4 {
  margin-bottom: 15px;
  color: var(--txt1-color);
}
del {
  margin: 5px 35px;
  color: red;
}
.txt_word {
  margin-left: 10px;
}
.side_bar {
  display: block;
  background: #fff;
  grid-area: side_bar;
  padding: 5px;
}
.shop_name {
  align-items: center;
  width: 100%;
  margin: auto;
}
.shop_name img {
  padding: 10%;
  width: 100px;
}
.shop_name h1 {
  margin-bottom: 100px;
  color: var(--txt1-color);
  font-size: 45px;
  text-align: center;
}
.Order_button {
  color: rgb(252, 125, 7);
}
.Order_button h3 {
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
}
.Order_button li {
  list-style: none;
}
.Order_button li button {
  width: 95px;
  margin: 5px;
  background: transparent;
  border: 1px solid rgb(252, 125, 7);
  padding: 5px;
  font-size: 12px;
  color: rgb(252, 125, 7);
}
.Order_button li button:hover {
  background: rgb(252, 125, 7);
  color: #fff;
}
.p_t {
  display: inline-flex;
  margin-top: 20px;
  padding: 10px;
}
.p_t h5 {
  font-size: 17px;
  margin-right: 10px;
}
.p_t input {
  text-align: center;
  outline: none;
  border: 1px solid rgb(252, 125, 7);
}
.O_d_last {
  margin-right: 10px;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  position: relative;
}
.O_d_last button {
  width: 85%;
  height: 50px;
  left: 0%;
  right: 0%;
  position: absolute;
  margin: auto;
  background: transparent;
  border: 2px solid rgb(252, 125, 7);
  text-align: center;
  font-size: 25px;
  color: rgb(252, 125, 7);
  border-radius: 5px;
}
.O_d_last button:hover {
  background: rgb(252, 125, 7);
  color: #fff;
}
.nav_bar {
  overflow: hidden;
  grid-area: nav_bar;
}
.nv1 {
  overflow: hidden;
  background: var(--bg-color);
  color: var(--txt-color);
  text-align: center;
  padding: 2px;
  grid-area: nv1;
}
.nv2 {
  overflow: hidden;
  background: var(--bg-color);
  color: var(--txt1-color);
  text-align: center;
  padding: 2px;
  grid-area: nv2;
}
.slide_bar {
  overflow: hidden;
  display: block;
  background: url("./image/bg\ -resturent.jpg") no-repeat;
  background: cover;
  background-position: center;
  grid-area: slide_bar;
}
.barger_pic1 {
  display: block;
  overflow: hidden;
  grid-area: barger_pic1;
}
.barger_pic1 a img {
  display: block;
  width: 100%;
  height: 50%;
}
.barger_pic2 {
  overflow: hidden;
  display: block;
  grid-area: barger_pic2;
}
.barger_pic2 a img {
  width: 100%;
  height: 50%;
  display: block;
}
.barger_pic3 {
  overflow: hidden;
  grid-area: barger_pic3;
  display: block;
}
.barger_pic3 a img {
  display: block;
  width: 100%;
  height: 50%;
}

.footer {
  overflow: hidden;
  display: block;
  background: rgb(17, 126, 44);
  grid-area: footer;
  text-align: center;
  color: var(--txt-color);
}
.footer p {
  margin: 20px;
}
@media only screen and (max-width: 550px) {
  .container {
    grid-template-areas:
      "nav_bar"
      "slide_bar"
      "barger_pic1"
      "barger_pic2"
      "barger_pic3"
      "side_bar"
      "footer";
  }
}
